


body {
  margin: 0;
  font-family:'Bressay', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}

a, a:hover{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #001C4C;
  font-weight: bold;
  text-decoration: none;
}
.link-mini, .link-mini:hover{
  font-size: 12px ;
}
.header{
  background-color: #001C4C!important;
  /* position: fixed; 
  top: 0;
  left: 0;
  z-index: 999;*/
  width: 100%;
  height: 110px;
}

.logo-lv{
    position: absolute;
    left: 50%;
    margin-top:17px;
    margin-left: -100px !important;  /* 50% of your logo width */
    display: block;
}
.logo-lv>img{
  width: 200px;
}

h1{
  font-size: 66px!important;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  color:#001C4C;
  margin:0px;
}

h1.mobileh1{
  font-size: 46px!important;

}

h2{
  font-size: 32px!important;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  color:#879bbd
}

h3{
  font-size: 16px!important;
  font-family:  'DM Serif Display', serif;
  font-weight: bold;
  color:#001C4C;
}

.text-right{
text-align: right;
}
.transparent{
  background-color: transparent!important;
}
.dashed-bottom{
  border-bottom: dashed 1px gray;
}
.full{
  width: 100%;
  height: 100%;
}

.content{
  margin-top:120px;
}


.desktop-container{
  width: 972px;
  padding: 0px;
  margin: 0 auto;
}
.tablet-container{
  width: 648px;
  padding: 0px;
  margin: 0 auto;
}
.mobile-container{
  width: 366px;
  padding: 0px;
  margin: 0 auto;
}

.row {
  margin: 0px;
  padding: 0px;
}
.row-mobile {
  margin: 0px;
  padding: 0px;
  height: 107px;
  width: 366px;
}



.col-desktop-tablet {
  margin: 0px;
  padding: 0px;
  width: 162px;

  height: 220px;
  background-color: #ffffff;
  position: relative; 
}
.col-mobile {
  margin: 0px;
  padding: 0px;
  width: 157px;
  height: 100%;
  background-color: #ffffff;
  float:left;
}
.col-snake-mobile {
  margin: 0px;
  padding: 0px;
  width: 52px;
  height: 100%;
  background-color: #ffffff;
  float:left;
}





/**********************/
/*items desktop tablet*/
/**********************/
.item-container-desktop-tablet{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 10px;
 
}


/*brand*/
.brand-front{
  width: 100%;
  height: 100%;
}
.brand-back{
  width: 100%;
  height: 195px;
  background-color:#DBE2EC;
  border-radius: 5px;
  margin-top:10px;
  padding: 5px;
}
.brand-logo-desktop-tablet{
  margin-top:0px;
  height: 80px;
}
.brand-description-desktop-tablet{
  font-size:11px;
}
.brand-year-desktop-tablet{
  margin-top:5px;
}

.logo{
  position: absolute;
  left: 50%;
  margin-left: -70px !important;  /* 50% of your logo width */
  display: block;
}
.logo-back{
  width: 100px;
  margin-left: 10px;
}


/*full image*/

/*info*/
.info-title-desktop-tablet{
 margin-top:30px;
}

.info-description-desktop-tablet{
  margin-top:10px;
  margin-bottom:10px;
}

.info-year-desktop-tablet{
  position: absolute; 
  bottom: 0px; 
  left:-15px;
}


/**********************/
/*items mobile*/
/**********************/

.brand-logo-mobile{
  margin-top:0px;
}



.brand-year-right-mobile{
  text-align: left;
  margin-left: 5px;
  width: 70%;
  float: left;
}
.brand-plus-right-mobile{
  float: right;
  margin-top:10px;
  margin-right: 5px;
  color:#879bbd;
}

.brand-year-left-mobile{
  text-align: right;
  margin-right: 5px;
  float: right;
}

.brand-plus-left-mobile{
  width: 30%;
  float: left;
  margin-top:10px;
  margin-right: 5px;
  color:#879bbd;
}
.more-mobile{
  width: 100%;
  height: 100%;
  position: relative; 
}

.more-link-mobile{
  position: absolute; 
  bottom: 0px;
  margin-left:80px;
}

.info-description-mobile{
  width: 100%;
  height: 100%;
}






/**********************/
/*detail*/
/**********************/


@media screen and (max-width: 699px) {
 
   .title{
     font-size:2em!important;
     top:140px!important;
   }
}


.jumbotron{
  height: 100vh;
}



.title{
  color:white;
  position: absolute;
  top:200px;
  left: 10%;

}

.container-detail{
  margin-top: 20px;
}

.destacado{
  border-left: dashed 1px gray;
}

.destacado2{
  border-right: dashed 1px gray;
  text-align:right;
}


.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.foto{
  max-width: 100%;
}

.logo-detail-bottom{
  max-width:80%;
}