@font-face {
  font-family: TiemposHeadline;
  src: url('TiemposHeadline-Light.otf');
}
@font-face {
  font-family: TiemposHeadline;
  src: url('TiemposHeadline-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: TiemposText;
  src: url('TiemposText-Regular.otf');
}




body {
  margin: 0;
  font-family: TiemposText;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
}



.header{
  background-color: #001C4C!important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 90px;
}

.logo-lv{
    position: absolute;
    left: 50%;
    margin-top:7px;
    margin-left: -92px !important;  /* 50% of your logo width */
    display: block;
}


h1{
  font-size: 66px!important;
  font-family: TiemposHeadline;
  font-weight: bold;
  color:#001C4C;
  margin:0px;
}

h2{
  font-size: 32px!important;
  font-family: TiemposHeadline;
  font-weight: bold;
  color:#879bbd
}

h3{
  font-size: 16px!important;
  font-family: TiemposHeadline;
  font-weight: bold;
  color:#001C4C;
}

.transparent{
  background-color: transparent!important;
}


.content{
  margin-top:100px;
}


.desktop-container{
  width: 972px;
  padding: 0px;
  margin: 0 auto;
}
.tablet-container{
  width: 648px;
  padding: 0px;
  margin: 0 auto;
}
.mobile-container{
  width: 376px;
  padding: 0px;
  margin: 0 auto;
}

.row {
  margin: 0px;
  padding: 0px;
}
.row-mobile {
  margin: 0px;
  padding: 0px;
  height: 107px;
  width: 376px;
}



.col-desktop-tablet {
  margin: 0px;
  padding: 0px;
  width: 162px;

  height: 220px;
  background-color: #ffffff;
  position: relative; 
}
.col-mobile {
  margin: 0px;
  padding: 0px;
  width: 162px;
  height: 100%;
  background-color: #ffffff;
  float:left;
}
.col-snake-mobile {
  margin: 0px;
  padding: 0px;
  width: 52px;
  height: 100%;
  background-color: #ffffff;
  float:left;
}





/**********************/
/*items desktop tablet*/
/**********************/
.item-container-desktop-tablet{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 10px;
 
}


/*brand*/
.brand-front{
  width: 100%;
  height: 100%;
}
.brand-back{
  width: 100%;
  height: 100%;
}
.brand-logo-desktop-tablet{
  margin-top:15px;
}

.logo{
  position: absolute;
  left: 50%;
  margin-left: -70px !important;  /* 50% of your logo width */
  display: block;
}

/*full image*/

/*info*/
.info-title-desktop-tablet{
 margin-top:30px;
}

.info-description-desktop-tablet{
  margin-top:10px;
  margin-bottom:10px;
}

.info-year-desktop-tablet{
  position: absolute; 
  bottom: 0px; 
  left:-15px;
}


/**********************/
/*items mobile*/
/**********************/
.brand-logo-mobile{
  margin-top:0px;
}



.more-mobile{
  width: 100%;
  height: 100%;
  position: relative; 
}

.more-link-mobile{
  position: absolute; 
  bottom: 0px;
  margin-left:80px;
}